:root {
  --VeryDarkGrayishBlue: hsl(217, 19%, 35%);
  --DesaturatedDarkBlue: hsl(214, 17%, 51%);
  --GrayishBlue: hsl(212, 23%, 69%);
  --LightGrayishBlue: hsl(210, 46%, 95%);
}

html {
  font-size: 13px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Manrope", sans-serif;
  background-color: var(--LightGrayishBlue);
}

.card {
  margin: 1.53rem;
  width: 100%;
  max-width: 26.92rem;
  border-radius: 0.77rem;
  box-shadow: 5px 3px 10px var(--GrayishBlue);
  background-color: white;
  position: relative;
  overflow: hidden;
  transform: translateX(-120%);
  opacity: 0;
}

.card.appear {
  transform: translateX(0);
  opacity: 1;
}

.picture {
  width: 100%;
  height: 19, 23rem;
  overflow: hidden;
}

.picture img {
  height: 100%;
  width: 100%;
}

.main-content {
  padding: 2.3rem 1.54rem 0.38rem;
}

.main-content-title,
.card-profile-name {
  font-size: 17px;
  color: var(--DesaturatedDarkBlue);
}

.main-content-detail,
.card-profile-date {
  padding-block: 0.76rem 1.54rem;
  font-size: 1.3rem;
  color: var(--GrayishBlue);
}

.card-personal-info {
  display: grid;
  grid-template-columns: 4fr 1fr;
  align-items: center;
  justify-items: center;
}

.card-profile {
  display: flex;
  align-items: center;
  gap: 0.92rem;
  padding: 1.54rem;
}

.card-profile img {
  width: 17%;
  border-radius: 50%;
}

.card-profile-name {
  font-size: 1rem;
}

.card-profile-date {
  font-size: 0.84rem;
}

.share-btn {
  background-color: var(--LightGrayishBlue);
  border: none;
  width: 2.69rem;
  height: 2.69rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}

.card-socials {
  background-color: var(--VeryDarkGrayishBlue);
  color: white;
  display: none;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 3;
  gap: 2.30rem;
}

.card-socials-title {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 100;
  letter-spacing: 5px;
  color: var(--GrayishBlue);
}

.card-socials-icons {
  display: flex;
  align-items: center;
  gap: 1.15rem;
}

.card-profile.remove {
  display: none;
}

.card-socials.active {
  display: flex;
  grid-row: 1 / 2;
  padding: 2.30rem;
}

.share-btn.click {
  grid-column-start: 2;
  grid-row: 1 / 2;
  z-index: 1;
}

.share-btn:hover {
  cursor: pointer;
  background-color: var(--DesaturatedDarkBlue);
}

/* Hover Effects */

@media (hover: hover) {
  .picture img:hover {
    transform: scale(1.1);
  }

  .social-icon:hover {
    transform: translateY(-5px);
  }

  img:hover {
    filter: saturate(190%);
  }
}

.share-btn:hover img {
  filter: invert(96%) sepia(4%) saturate(17%) hue-rotate(145deg)
    brightness(204%) contrast(106%);
}

/* Media Queries */

@media (min-width: 750px) {
  .card {
    max-width: 73.07rem;
    height: 30.76rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
  }

  .picture {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .picture img {
    height: 100%;
    width: 100%;
  }

  .card-personal-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 0 80px;
  }

  .main-content-title {
    font-size: 1.84rem;
  }

  .main-content-detail {
    font-size: 1.23rem;
  }

  .card-socials {
    position: absolute;
    right: -5%;
    top: 50%;
    background-color: var(--VeryDarkGrayishBlue);
    color: white;
    display: flex;
    width: 23.07rem;
    height: 3.84rem;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    z-index: 1;
    border-radius: 0.76rem;
    opacity: 0;
  }

  .card-socials::after {
    content: "";
    position: absolute;
    width: 2.30rem;
    height: 2.30rem;
    bottom: -20%;
    transform: rotate(45deg);
    background-color: var(--VeryDarkGrayishBlue);
  }

  .card-socials.active {
    opacity: 1;
  }

  .card-profile.remove {
    display: inherit;
  }

  .share-btn {
    width: 3.07rem;
    height: 3.07rem;
  }
}
